<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="">Prodyna Code Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link font-weight-light" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-light" routerLinkActive="active" routerLink="/posts">POSTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-light" routerLinkActive="active" routerLink="/new-post">CREATE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-light" routerLinkActive="active" routerLink="/about">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>